<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Product Recommendation</title>
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body style="background: #000;">
    <div class="login">
      <h1>Product Recommendations</h1>

      <!-- Main Input For Receiving Query to our ML -->
      <form action="http://localhost:5000/predict" method="post">
        <input type="text" name="AGE" placeholder="AGE" required="required" />
        <input
          type="text"
          name="HEIGHT"
          placeholder="HEIGHT"
          required="required"
        />
        <input
          type="text"
          name="WEIGHT"
          placeholder="WEIGHT"
          required="required"
        />
        <input
          type="text"
          name="SMOKE_STATUS"
          placeholder="SMOKE_STATUS"
          required="required"
        />
        <input
          type="text"
          name="GENDER"
          placeholder="GENDER"
          required="required"
        />
        <input
          type="text"
          name="COUNTRY_RES"
          placeholder="COUNTRY_RES"
          required="required"
        />

        <input
          type="text"
          name="COUNTRY_DES"
          placeholder="COUNTRY_DES"
          required="required"
        />

        <button type="submit" class="btn btn-primary btn-block btn-large">
          Recommend
        </button>
      </form>

      <br />
      <br />
      {{ prediction_text }}
    </div>
  </body>
</html>
